/* actions.css */

#collect-spacejunk-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#collectSpacejunkBtn {
  width: 100px;
  height: 100px;
  background-color: var(--secondary);
  color: var(--primary);
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid var(--primary);
  border-radius: 5px;
  margin: 0px;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#collectSpacejunkBtn:hover {
  transform: scale(1.05);
}

#collectSpacejunkBtn:active {
  /* background-color: #1a1a1a; */
  transform: scale(0.98);
}

#collectSpacejunkBtn:disabled {
  background-color: var(--disabled);
  color: var(--text);
  cursor: not-allowed;
  opacity: 0.6;
}