/* equipment.css */
  
  /* Tabs */
.equipment-tab-buttons {
    display: flex;
    gap: 10px;
}
  
.equipment-tab-button {
    padding: 10px;
    cursor: pointer;
    background: transparent;
    margin: 0;
}
  
.equipment-tab-button.active {
    background-color: #4CAF50;
    color: white;
}
  
/* Tab content */
.equipment-tab-content {
    display: none;
}
  
.equipment-tab-content.active {
    display: block;
}
  
/* Grid layout for equipment */
.equipment-layout {
    display: grid;
    grid-template-columns: repeat(3, 60px) 30px 60px; /* 3 columns */
    grid-template-rows: repeat(3, 60px);    /* 3 rows */
    gap: 0;
    padding: 10px;
    justify-content: center;
}

/* .inventory-square {
    width: 60px;
    height: 60px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#square-top {
    grid-column: 2;
    grid-row: 1;
}

#square-left {
    grid-column: 1;
    grid-row: 2;
}

#square-front {
    grid-column: 2;
    grid-row: 2;
}

#square-right {
    grid-column: 3;
    grid-row: 2;
}

#square-bottom {
    grid-column: 2;
    grid-row: 3;
}

#square-back {
    grid-column: 5;
    grid-row: 2; /* Place it horizontally aligned with the middle row */
}