#spacejunk-inventory-module, #salvage-inventory-module {
    padding: 1rem;
}

#spacejunk-inventory-module h3, #salvage-inventory-module h3 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 900;
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 0.5rem;
}

#spacejunk-inventory-module h3 i, #salvage-inventory-module h3 i {
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
}

#spacejunk-inventory-module h3 .lucide, #salvage-inventory-module h3 .lucide {
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
}

/* Table styling */
#spacejunk-inventory-module table, #salvage-inventory-module table {
    width: 100%;
    border-collapse: collapse;
}

#spacejunk-inventory-module table th, #inventory-module table td, #salvage-inventory-module table th, #salvage-inventory-module table td {
    padding: 0.5rem;
    border-bottom: 1px solid var(--text-color);
}

#spacejunk-inventory-module table th, #salvage-inventory-module table th {
    text-align: left;
    font-weight: 900;
}

#spacejunk-inventory-module table td, #salvage-inventory-module table td {
    text-align: left;
}

.inventory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.2em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.icon {
    margin-right: 5px;
}

.left-content {
    display: flex;
    align-items: center;
    text-align: left;
}

.right-content {
    text-align: right;
    flex-grow: 1;
}