/* inventory.css */

.content-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.content-header .icon {
    margin-right: 0.5rem;
}

.spanValueDisplay {
    margin-left: auto;
}

/* Inventory grid layout */
#spacejunk-inventory-grid,
#station-inventory-grid {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  gap: 0;
}

/* Inventory square formatting */
.inventory-square {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c2c2c;
  border: 1px solid #fff;
}

.inventory-square i {
  font-size: 24px;
}

.on-hold {
  opacity: 0.5;
}
