/* inventory.css */

.content-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.content-header .icon {
    margin-right: 0.5rem;
}

.spanValueDisplay {
    margin-left: auto;
}

.inventory-content {
  padding: 5px;
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* #station-inventory-module {
  flex: 1;
} */

/* Inventory grid layout */
#spacejunk-inventory-grid {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  gap: 0;
}

#station-inventory-grid {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  gap: 0;
}

/* #station-inventory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
  gap: 0;
} */

/* Inventory square formatting */
.inventory-square {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c2c2c;
  border: 1px solid #fff;
}

.inventory-square .icon {
  font-size: 48px;
  width: 36px;
  height: 36px;;
}

.on-hold {
  opacity: 0.5;
}

.quantity-indicator {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 0.8rem;
  color: white;
  padding: 2px 4px;
}

.configurable-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20px;
  width: 20px;
  color: white;
  padding: 1px;
  rotate: 90deg;
}