/* modules.css */

#game-modules {
    display: flex;
    flex: 0 0 auto;
    overflow: scroll;
    margin: 10px;
}

#main-modules {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

#secondary-modules {
    display: flex;
    flex-direction: row;
    width: auto;
    overflow: scroll;
    max-height: calc(100vh - 60px);
}

/* Shared container styling for both main and secondary modules */
.module-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
    overflow-y: auto;
}

/* Shared module styling for all individual modules */
.module {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 45px auto auto;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #2c2c2c;
}

.module-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: fit-content;
}

/* Header styling for all modules */
.module h3 {
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 1.2em;
}

.module h3.collapsible {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapsible .toggle-icon {
    transition: transform 0.3s ease;
}

.module h3.collapsed .toggle-icon {
    transform: rotate(180deg);
}

.module-content {
    height: fit-content;
}

/* Module content styling */
/* .module-content {
    width: auto;
    max-width: 100%;
    overflow: hidden;
    max-height: 400px;
    transition: max-height 0.3s ease;
    min-width: max-content;
} */

.module-content.collapsed {
    max-height: 0;
    overflow: hidden;
    display: none;
}

@media (max-width: 768px) {
    #game-modules {
        flex-direction: column;
        height: auto;
    }

    #secondary-modules, #main-modules {
        width: 100%;
        overflow: scroll;
    }
}

@media (min-width: 769px) {
    #game-modules {
        flex-direction: row;
    }

    #secondary-modules, #main-modules {
        flex-basis: auto;
        overflow: scroll;
    }
}