/* notifications.css */

#notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 250px;
    z-index: 1000;
}

.notification {
    background-color: var(--success); /* Success color */
    color: var(--primary);
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px var(--shadow);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.notification.show {
    opacity: 1;
}