/* resources.css */

/* Station resources section */
#station-resources-module {
    flex-direction: column;
    align-items: center;
}

#station-resources-content-2 {
    margin-top: 10px;
}

#station-resources-content-1,
#station-resources-content-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; /* Each content div takes 50% width */
}

#resources-module, #life-support-module {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 900;
}

#station-resources-content-1, #station-resources-content-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Aligns items at the start */
    gap: 1em; /* Adjust gap between resource items */
}



/* Life support header styling */
.life-support-header {
    display: flex;
    /* font-size: 1.5em; */
    align-items: center;
    padding: 0px 20px 0px 10px;
    text-transform: uppercase;
    background-color: white;
    color: black;
}

.life-support-header .icon {
    margin-right: 0.5rem;
}

.resource {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.icon {
    margin-right: 5px;
}

.resource:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

.life-support-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.rate.positive {
    color: green;
}

.rate.negative {
    color: red;
}

.rate.neutral {
    color: gray;
}

.capacity {
    font-weight: bold;
}


@media (max-width: 100ch) {
    #station-resources-module {
        flex-direction: column;
        align-items: center;
    }

    #station-resources-content-1,
    #station-resources-content-2 {
        width: 100%; /* Full width on smaller screens */
    }

    #game-screen {
        height: 100%;
    }
}