/* salvage.css */

.salvage-display-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

#salvage-drop-area {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary);
    background-color: var(--background);
    min-width: 60px;
    min-height: 60px;
}

.salvage-divider {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin: 0 10px;
}

#salvage-inventory-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, max-content));
    grid-auto-columns: 60px;
    grid-auto-flow: column;
    gap: 0;
    margin: 0;
    padding: 0;
    justify-content: center;
}

#salvageLootAllBtn {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px;
}

#salvageLootAllBtn.active {
    background-color: var(--success);
    color: var(--primary);
}

#salvageLootAllBtn .icon {
    margin-right: 0.5rem;
}