/* spacexCapsuleLayout.css */

#station-container {
    width: 460px;
    height: 100%;
}

.spacex-capsule-img {
    width: 460px;
}

.spacex-image-container {
    position: relative;
}

.diagram-canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 460px;
    height: 274.27px;
}

.text-point {
    position: absolute;
    background-color: white;
    /* background-color: rgba(255, 255, 255, 0.7); */
    font-size: 12px;
    z-index: 15;
    padding: 5px;
    border-radius: 3px;
    transform: translate(-50%, -50%);
    color: black;
    cursor: pointer;
    pointer-events: auto;
}

#equipment-container {
    display: grid;
    position: absolute;
    align-items: flex-start;
    width: fit-content;
}

.equipment-item {
    display: inline-block;
    width: fit-content;
    font-size: 12px;
    background-color: var(--text);
    color: var(--background);
    margin-bottom: 5px;
    text-align: left;
    z-index: 25;
}

.equipment-item.interactive {
    color: var(--background);
}

.equipment-item.interactive.highlight {
    background-color: var(--shadow);
}

.line {
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: var(--primary);
    transform: translateX(-50%);
    z-index: 1;
}