/* stationlayout.css */

/* :root {
    --grid-rows: 3;
    --grid-columns: 3;
} */

.modules-container-2 {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    overflow-y: auto;
    flex-wrap: nowrap;
    gap: 10px;
    margin: 0px;
    align-items: flex-start;
    /* width: max-content; */
}

#station-layout-grid {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(3, 60px);
    height: auto;
    gap: 0;
    justify-content: center;
}

.selected-module {
    border: 2px solid #4CAF50;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
    background-color: rgba(76, 175, 80, 0.1);
  }
  