/* styles.css */

body {
  font-family: "Lucida Console", sans-serif;
  text-align: center;
  color: var(--primary);
  margin: 10px;
  background-color: var(--background);
  padding: 0;
}

h1 {
  color: var(--text);
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  /* background-color: #5872c1; */
  background-color: var(--secondary);
  color: var(--primary);
  border: none;
  margin: 10px;
}

button:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

/* Tooltip styling */
.tooltip {
  position: absolute;
  background-color: var(--secondary);
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 10px;
  border-radius: 5px;
  display: none; /* Initially hidden */
  z-index: 1000;
  pointer-events: none; /* Prevent tooltips from blocking interactions */
  white-space: nowrap; /* Keep the content in one line */
  font-size: 0.9rem;
}